[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-lint = "*"
yamllint = "*"
molecule = {extras = ["docker", "podman"], version = "*"}
ansible-core = "*"
setuptools = "*"
tox = "*"
pre-commit = "*"
selinux = "*"

[dev-packages]

[requires]
python_version = "3.10"
